/* RESET */
 /*	Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
-------------------------------------------------------------------------- */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}



/* Make box-sizing "border-box" as default */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* MAIN TAGS */
html, body {
    margin: 0;
    height: 100%;
    width: 100%;
}

header {
    width: 100%;
    height: 4em;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:rgb(0, 0, 0, 0.3);
}
/*List navigation bar*/

ul,li,a{
    font-family: 'Archivo';
    font-weight: bold;
    color: white;
    font-size: 20px;
}

/*liens de la liste*/
ul li a{
    text-decoration: none;}

ul li a:hover{
    color: orange;
    transition: 0.2s;
    font-size: 21px;
    padding-bottom:5px;
    }

ul{ 
    list-style: none;
    display: inline;
}

ul li{ 
    display: inline-block; 
    margin: 2em 4em 2em 4em
}
    
.logo img{  
    height: 4em;
    width: auto;
    cursor: pointer
}

/*Grid pour les photos*/

.boxcontainer{
    width: 100%;
    display: grid;
    grid-template-rows:repeat(auto, 1fr);
    grid-template-columns: repeat(12, 1fr)

}

.title-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* katika chaussur */
.title-container h1 {
    font-weight: 100;
    font-size: 3em;
    -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: black;
   color: white;
   cursor: pointer;
}


.title-container img {
    position: absolute;
    object-fit: cover;  
    width: 100%;
    z-index: -1;
}

/* .imgcontainer{
    display: flex;
justify-content: center;
align-items: center;
background-color: white;}
    */

/*title section*/

.grandephoto {
    position: absolute;
    top: 0;
    height: 100vh;
    z-index: -1;
}

.boxcontainer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.boxcontainer article {
    width: 50%;
    overflow: hidden;
}

.boxcontainer article img {
    width: 100%;
    height: 100%;
}

.small-img-container {
    display: flex;
    flex-wrap: wrap;
}
/* .imgcontainer {
    width:50%;
}

.imgcontainer img {
    width: 100%;
} */

/* .imgcontainer:nth-child(1){
    grid-row: 1/5;
    grid-column: 1/13;
}

.imgcontainer:nth-child(2){
    grid-column:1/7;
    grid-row:5/12;
    
}
.imgcontainer:nth-child(3){
    grid-column:7/13;
    grid-row:5/12;
    
}
        
.imgcontainer:nth-child(4){
    grid-column:1/4;
    grid-row:12/18;
}
.imgcontainer:nth-child(5){
    grid-column:4/7;
    grid-row:12/18;} */

    /* image avec texte*/
/* 
.imgcontainer:nth-child(6) p{
text-align: center;
display: block;
color: white; 
font-size: 50px; font-family:'lato';
font-weight: bold;}

.imgcontainer img{background-color: white;}
.imgcontainer:nth-child(6){
    background-image: url(../img/chaussure2.png);

    background-size: cover;
    grid-column: 1/4;
    grid-row: 18/24;}
            
.imgcontainer:nth-child(7){
    grid-column:4/7;
    grid-row:18/24;}

.imgcontainer:nth-child(8){padding: 0px;
    background-image: url(../img/sedia.jpg);
    background-size: cover;
    transition: padding 1s;
    
    grid-column:7/13;
    grid-row:12/24;}

    .imgcontainer:nth-child(8) img:hover{padding: 40px; transition: 0.5s;} */

    
footer{
    padding-top: 60px;
    width: 100%;
    height: 100px;
}
.markbox{display: grid; grid-template-columns: 1fr 1fr 1fr 1fr ;margin:1% 15% 4% 15%; grid-gap: 20px;}
.markbox .mark {display: flex;align-items: center;}
.markbox .mark img {width: 100%;}

h1{font-family: "lato";
font-weight: bold;
}

header{
    z-index: 9999;
    padding-top:50px;
    width: 100%;
    height: 10%;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1em ; 
    background-color:rgb(0, 0, 0, 0.3);
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 10px;
} 
